:root{
  -/*-main-color:#2D5E5E;
  --header-nav-color:#85AAAB;
  --header-hover-color:#6DE1E3;
  --info-blocks-color:#ADDDDE;

  --btn-radius:10px;
  --btn-background:#2D5E5E;

  --font-secondary:"Oswald", sans-serif;
  --secondary-font-weight:700;*/
}